include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--ana({palette: 'fluid', name: 'modal-ana-01'})
    img.img-contain(src="img/ana_ojo.png")
    //- include ../../../assets/ave.svg


        //- h1 Serie 1
        //- .l-abs.l-flex.u-padding(style="--p: 30%").u-background-color-black-tr
        //-     div.u-outline-primary.u-padding-1em.u-top.u-left(
        //-         style="--t: 10%; --l: 15%"
        //-     )
        //-         a.js-load-content(href="ana-02.html") Contenido 1A (texto)

        //-     div.u-outline-primary.u-padding-1em.u-bottom.u-left(
        //-         style="--b: 20%; --l: 10%"
        //-     )
        //-         a.js-load-content(href="ana-1B.html") Contenido 1B (audio)

        //-     div.u-outline-primary.u-padding-1em.u-top.u-right(
        //-         style="--t: 20%; --r: 10%"
        //-     )
        //-         a.js-load-content(href="ana-1C.html") Contenido 1C (podcast)

        //-     div.u-outline-primary.u-padding-1em.u-bottom.u-right(
        //-         style="--b: 40%; --r: 10%"
        //-     )                
        //-         a.js-load-content(href="ana-1D.html") Contenido 1D (animación Processing)