include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--ana({palette: 'fluid', name: 'modal-ana-06'})
    img.img-contain(src="img/ana_cotorra.png")
    //- include ../../../assets/ave.svg


    
        //- h1 Serie 6
        //- .l-abs.l-flex.u-padding(style="--p: 30%").u-background-color-black-tr
        //-     div.u-outline-primary.u-padding-1em.u-top.u-left(
        //-         style="--t: 10%; --l: 15%"
        //-     )
        //-         a.js-load-content(href="ana-6A.html") Contenido 6A (podcast)

        //-     div.u-outline-primary.u-padding-1em.u-bottom.u-left(
        //-         style="--b: 20%; --l: 10%"
        //-     )
        //-         a.js-load-content(href="ana-6B.html") Contenido 6B (texto)