include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--grow({palette: 'fluid', name: 'modal-ana-04'})
    h1 Monstruosidades Tentaculares
    img.img-contain.shape-popup.u-display-block.u-margin-auto(src="img/ana_medusa.png")
    //- include ../../../assets/ave.svg



        //- h1 Serie 4
        //- .l-abs.l-flex.u-padding(style="--p: 30%").u-background-color-black-tr
        //-     div.u-outline-primary.u-padding-1em.u-top.u-left(
        //-         style="--t: 10%; --l: 15%"
        //-     )
        //-         a.js-load-content(href="ana-4A.html") Contenido 4A (muestrario)

        //-     div.u-outline-primary.u-padding-1em.u-bottom.u-left(
        //-         style="--b: 20%; --l: 10%"
        //-     )
        //-         a.js-load-content(href="ana-4B.html") Contenido 4B (texto)

        //-     div.u-outline-primary.u-padding-1em.u-top.u-right(
        //-         style="--t: 20%; --r: 10%"
        //-     )
        //-         a.js-load-content(href="ana-4C.html") Contenido 4C (lectura)


