include ../../_templates
include ../../_partials
include ../../_content

+partials_modal({palette: 'fluid'})
    .popup-content-wrapper.l-flex.u-height-100.u-width-100
        .l-grid.u-height-100.u-width-100(style="--r: min-content auto")
            a.js-close-modal(style="grid-row: 1/2") [X Cerrar]
            .l-flex.l-abs.u-height-100.u-width-100(style="grid-row: 2/3")
                +partials_test-ana




        //- h1 Serie 4
        //- .l-abs.l-flex.u-padding(style="--p: 30%").u-background-color-black-tr
        //-     div.u-outline-primary.u-padding-1em.u-top.u-left(
        //-         style="--t: 10%; --l: 15%"
        //-     )
        //-         a.js-load-content(href="ana-4A.html") Contenido 4A (muestrario)

        //-     div.u-outline-primary.u-padding-1em.u-bottom.u-left(
        //-         style="--b: 20%; --l: 10%"
        //-     )
        //-         a.js-load-content(href="ana-4B.html") Contenido 4B (texto)

        //-     div.u-outline-primary.u-padding-1em.u-top.u-right(
        //-         style="--t: 20%; --r: 10%"
        //-     )
        //-         a.js-load-content(href="ana-4C.html") Contenido 4C (lectura)


