include ../../_templates
include ../../_partials
include ../../_content

+partials_modal({palette: 'fluid', name: 'modal-ana-01-A'})
    a.js-close-modal(data-modal-name="modal-ana-01-A") [X Cerrar]
    article.content
        h1 Serie 1A
        p Contenido 1A (texto)
        ul
            li
                a.js-load-content(href="contents/ana-01.html" data-modal-name="modal-ana-01") Contenido A1 (primero en la secuencia)