include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--grow({palette: 'fluid', name: 'modal-ana-03'})
    h1 ¿Qué territorio es el territorio?
    img.img-contain.shape-popup.u-display-block.u-margin-auto(src="img/ana_tibu.png")
    p “Toda territorialización supone, en primer lugar, que uno desterritorialice algo para reterritorializarlo de otra manera. Y por esta razón, ya sea a propósito de la escritura o de los pájaros, no deberíamos hablar tanto de territorios, sino más bien de actos de territorialización. (…) El territorio es de hecho un acto, que afecta los medios y los ritmos, que los “territorializa” (p.94).
    p “El territorio no es solamente creación de relaciones en su seno, sino creación de relaciones con los otros” (p.138)
    p “El territorio no cuenta tanto como espacio, sino como un conjunto comportamental” (p.18)
    p “Lo que resulta esencial es el “otro”. Un adjetivo minúsculo, elegantísimo en su labor de reconfiguración cartográfica del mundo: él solo consigue redibujar a la vez una lógica de la diferencia y una pertenencia común”. (p.28)
    p (Vinciane Despret, #[em Habitar como un pájaro. Modos de hacer y de pensar los territorios], 2022)
    
    //- include ../../../assets/ave.svg
















        //- h1 Serie 3
        //- .l-abs.l-flex.u-padding(style="--p: 30%").u-background-color-black-tr
        //-     div.u-outline-primary.u-padding-1em.u-top.u-left(
        //-         style="--t: 10%; --l: 15%"
        //-     )
        //-         a.js-load-content(href="ana-3A.html") Contenido 3A (animación)

        //-     div.u-outline-primary.u-padding-1em.u-bottom.u-left(
        //-         style="--b: 20%; --l: 10%"
        //-     )
        //-         a.js-load-content(href="ana-3B.html") Contenido 3B (texto)

        //-     div.u-outline-primary.u-padding-1em.u-top.u-right(
        //-         style="--t: 20%; --r: 10%"
        //-     )
        //-         a.js-load-content(href="ana-3C.html") Contenido 3C (rompecabezas)