include ../../_templates
include ../../_partials
include ../../_content

+partials_modal({palette: 'fluid'})
    +templates_main-popup-ana()
        img.img-contain(src="img/ana_tibu.png")
        //- include ../../../assets/ave.svg
















        //- h1 Serie 3
        //- .l-abs.l-flex.u-padding(style="--p: 30%").u-background-color-black-tr
        //-     div.u-outline-primary.u-padding-1em.u-top.u-left(
        //-         style="--t: 10%; --l: 15%"
        //-     )
        //-         a.js-load-content(href="ana-3A.html") Contenido 3A (animación)

        //-     div.u-outline-primary.u-padding-1em.u-bottom.u-left(
        //-         style="--b: 20%; --l: 10%"
        //-     )
        //-         a.js-load-content(href="ana-3B.html") Contenido 3B (texto)

        //-     div.u-outline-primary.u-padding-1em.u-top.u-right(
        //-         style="--t: 20%; --r: 10%"
        //-     )
        //-         a.js-load-content(href="ana-3C.html") Contenido 3C (rompecabezas)