include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--grow({palette: 'fluid', name: 'modal-ana-05'})
    h1 Sobre los territorios monstruosos
    +partials_left-floated-image("img/ana_alga.png")
    p [Podcast: Maia Gattás Vargas]
    //- include ../../../assets/ave.svg



        //- h1 Serie 5
        //- .l-abs.l-flex.u-padding(style="--p: 30%").u-background-color-black-tr
        //-     div.u-outline-primary.u-padding-1em.u-top.u-left(
        //-         style="--t: 10%; --l: 15%"
        //-     )
        //-         a.js-load-content(href="ana-5A.html") Contenido 5A (animación partes autónomas)

        //-     div.u-outline-primary.u-padding-1em.u-bottom.u-left(
        //-         style="--b: 20%; --l: 10%"
        //-     )
        //-         a.js-load-content(href="ana-5B.html") Contenido 5B (texto)

        //-     div.u-outline-primary.u-padding-1em.u-top.u-right(
        //-         style="--t: 20%; --r: 10%"
        //-     )
        //-         a.js-load-content(href="ana-5C.html") Contenido 5C (ilustraciones con mismas partes)

        //-     div.u-outline-primary.u-padding-1em.u-bottom.u-right(
        //-         style="--b: 40%; --r: 10%"
        //-     )                
        //-         a.js-load-content(href="ana-5D.html") Contenido 5D (ilustraciones con mismas partes)

        //-     div.u-outline-primary.u-padding-1em.u-bottom.u-right(
        //-         style="--b: 50%; --r: 50%"
        //-     )                
        //-         a.js-load-content(href="ana-5E.html") Contenido 5E (ilustraciones con mismas partes)

