include ../../_templates
include ../../_partials
include ../../_content

//- En contenidos: Contenido F

+partials_modal--grow({palette: 'fluid', name: 'modal-ana-04'})
    h1 Monstruosidades Tentaculares
    +partials_left-floated-image("img/ana_medusa.png")
    .clearfix
        p Arts of Living on a Damaged Planet: Ghosts and Monsters of the Anthropocene. Tsing, Anna Lowenhaupt, Nils Bubandt, Elaine Gan, and Heather Anne Swanson. 
        p (Introducción traducida por Mercedes Claus y Pablo Méndez en el marco de Prácticas artísticas en un planeta en emergencia, Centro Cultural Kirchner)
    +partials_audio-player('audio/tsing-espanol.mp3')
