include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--fixed-center({palette: 'fluid', name: 'modal-mariela-A2'})
    +partials_podcast-player({
        audioUrl: "audio/entrevista-daniel-feierstein.mp3",
        videoUrl: "video/video3comprimido.mp4",
    })
        h1 De Invasiones y exterminios
        h2 Entrevista a Daniel Feierstein
        +partials_expandable-box('desplegable-mariela-A2')
            i
                p Doctor en Ciencias Sociales por la Universidad de Buenos Aires. Investigador Principal del CONICET. Es Profesor Titular en la Carrera de Sociología, Facultad de Ciencias Sociales, UBA y Profesor Titular de la Universidad Nacional de Tres de Febrero, donde dirige el Centro de Estudios sobre Genocidio.
                p Fue Presidente de la International Association of Genocide Scholars, en el período 2013-2015 y miembro del Tribunal Permanente de los Pueblos. Ha actuado como juez de dicho Tribunal en numerosos casos, entre ellos México (2014), Myanmar (2017) Sri Lanka (2010 y 2013) y Colombia (2021). Fue también Consultor de las Naciones Unidas en temas de discriminación, derechos humanos, racismo y genocidio. 
                p Ha publicado 9 libros de autoría: Seis Estudios sobre Genocidio (1997, reeditado en 2000, 2008 y 2020, ganador del Primer Premio Municipal de Ensayo de la Ciudad de Buenos Aires, 2000-2001), El genocidio como práctica social (2007), Memorias y Representaciones. Sobre la elaboración del genocidio I (2012), Juicios. Sobre la elaboración del genocidio II (2015), Introducción a los Estudios sobre Genocidio (2016), Los dos demonios recargados (2018), La construcción del enano fascista (2019) y Pandemia. Un balance social y político de la crisis del COVID-19 (2021). Algunos de sus libros fueron traducidos al inglés y francés. Ha publicado otra decena de libros de compilaciones en español e inglés y un centenar de artículos académicos en inglés, francés, alemán, italiano, hebreo y coreano, entre otras lenguas.
