include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--fixed-center({palette: 'fluid', name: 'modal-mariela-A4'})
    +partials_video-player("video/A4-comprimido.mp4")
    //- Con que el canvas tenga el mismo aspect ratio que el video
    //- (usando width y height intrínsecos) y usando object-fit:contain,
    //- debería tener un canvas que siempre cubra exactamente al video.
    canvas.poster-canvas.u-display-none(width="1024px" height="576")
    canvas.revealing-canvas.u-width-100.u-height-100(width="1024px" height="576")
    canvas.revealing-canvas-mask.u-opacity-0.u-width-100.u-height-100(width="1024px" height="576")