include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--fixed-center({palette: 'fluid', name: 'modal-mariela-B2'})
    +partials_podcast-player({
        audioUrl: "audio/B2-podcastESP.mp3",
        videoUrl: "video/video7comprimido.mp4",
    })
        h1 Sobre ser intruso (podcast)
        h2 Por Jeremy Fernando
        +partials_expandable-box('desplegable-mariela-A2')
            i
                p Su trabajo se ubica en las intersecciones de la literatura, la filosofía y el arte. Ha escrito más de veinte libros, que han sido publicados por diversas prensas locales e internacionales. Sus escritos también han aparecido en revistas y periódicos como Arte al Límite, Berfrois, CTheory, Cenobio, Entropy, Full Bleed, Poiesis, positions, Philosophy World Democracy, Queen Mob's Teahouse, Qui Parle, Testo e Senso, TimeOut, VICE, y Voice & Verse Poetry Magazine, entre otros; y han sido traducidos al portugués de Brasil, francés, alemán, italiano, japonés, coreano, español y serbio. La exploración de la escritura en otros medios lo ha llevado al cine, la música, las charlas-performance y las artes visuales; y su obra ha sido expuesta en Berlín, Buenos Aires, Hong Kong, Viena, Seúl y Singapur. Su experiencia como editor ha afinado aún más su sensibilidad hacia los oficios de la lectura y la escritura. Como tal, tiene un profundo aprecio no sólo por los matices del lenguaje, sino que también ha perfeccionado la capacidad de atender a un texto para ayudar a darle la forma adecuada a lo que intenta transmitir.