include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--fixed-center({palette: 'fluid', name: 'modal-mariela-A2-en'})
    +partials_podcast-player({
        audioUrl: "audio/podcastFeiersteinFinal.mp3",
        videoUrl: "video/video3comprimido.mp4",
    })
        h1 On Invasions and Exterminations (podcast)
        h2 By Daniel Feierstein
        +partials_expandable-box('desplegable-mariela-A2')
            i
                p Daniel Feiersten holds a PhD in Social Sciences from the University of Buenos Aires (UBA); he is a senior researcher at CONICET, the National Scientific and Technical Research Council; a tenured professor in Sociology, School of Social Sciences, UBA; and a tenured professor at the National University of Tres de Febrero, where he leads the Center on Genocide Studies (CEG). He was President of the International Association of Genocide Scholars in 2013-2015, and a member of the Permanent Peoples’ Tribunal, where he has served as a judge in numerous cases, including: Mexico in 2014, Myanmar in 2017, Sri Lanka in 2010 and 2013, and Colombia in 2021. He was also a Consultant to the United Nations on issues of discrimination, human rights, racism and genocide. He has published the following nine authored books: Seis estudios sobre genocidio (Six studies on genocide) in 1997, republished in 2000, 2008 and 2020, winner of the first Municipal Award of the city of Buenos Aires in the category of Essay; El genocidio como práctica social (Genocide as a social practice) in 2007; Memorias y representaciones sobre la elaboración del genocidio (Memories and representations on the elaboration of genocide) in 2012; Juicios sobre la elaboración del genocidio II (Trials on the elaboration of genocide II) in 2015; Introducción a los estudios sobre genocidio (Introduction to genocide studies) in 2016; Los dos demonios recargados (The two demons reloaded) in 2018; La construcción del enano fascista (The construction of the fascist dwarf) in 2019, and Pandemia, un balance social y político de la crisis del COVID-19 (Pandemic, a social and political account of the COVID-19 crisis) in 2021. Some of his books were translated into English and French.