include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--fixed-center({palette: 'fluid', name: 'modal-mariela-B2-en'})
    +partials_podcast-player({
        audioUrl: "audio/PodcastJeremy.mp3",
        videoUrl: "video/video7comprimido.mp4",
    })
        h1 On being an intruder (podcast)
        h2 By Jeremy Fernando
        +partials_expandable-box('desplegable-mariela-A2')
            i
                p Jeremy Fernando works in the intersections of literature, philosophy and art, and has written more than 20 books, which have been published by various local and international presses. His writings have also been featured in magazines and journals such as Arte al Límite, Berfrois, CTheory, Cenobio, Entropy, Full Bleed, Poiesis, positions, Philosophy World Democracy, Queen Mob’s Teahouse, Qui Parle, Testo e Senso, TimeOut, VICE, and Voice & Verse Poetry Magazine, amongst others; and he has been translated into Brazilian Portuguese, French, German, Italian, Japanese, Korean, Spanish and Serbian. Exploring writing in other media has led him to film, music, performance-talks, and the visual arts; and his work has been exhibited in Berlin, Buenos Aires, Hong Kong, Vienna, Seoul, and Singapore. His experience as an editor has further honed his sensitivities to the crafts of reading and writing. As such, he has a deep appreciation not just for the nuances of language, but has also refined the ability to attend to a text in order to help shape it into an appropriate form for what it is attempting to convey.