include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--fixed-center({palette: 'fluid', name: 'modal-mariela-E1'})
    +partials_video-player("video/E1comp.mp4")
    canvas.poster-canvas.u-display-none(width="1024px" height="576")
    canvas.revealing-canvas.u-width-100.u-height-100(width="1024px" height="576")
    canvas.revealing-canvas-mask.u-opacity-0.u-width-100.u-height-100(width="1024px" height="576")