include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--grow({palette: 'fluid', name: 'modal-gabriela-05-A-en'})
    h1 “Invading ecologies”: From dominions to extinction
    //- img.u-max-height-100.u-max-width-100.u-width-auto.u-display-block.u-margin-auto(src="img/cotorragif1.gif")
    +partials_auto-height-video-player('video/gramaticas-oceanicas_comp.mp4')
    p “The rhetorics of invasion” reveal multiple edges which calls us to a profound symbolic revision. From forced displacement to the perception of this “other” as an invader, don’t mediate many steps. There is neither a lot of distance between this “other” perceived as an invader and its “programmed extermination”. 
    p The illusion of fixed “borders” in the processes of deliberate or accidental introduction of foreign species, vegetables and animals, in the face of the unpredictable climate changes of our time, makes us revise our new dimensions and impacts, not only environmental ones, but economic, political and cultural in the complex interactions of ecologies and the human and not-human societies.  
    a.js-load-content(data-modal-name="modal-gabriela-05-B-en" data-scripts="/js/scripts/video-player.js" href="contents/gabriela-05-B-en.html") [ Continue ]
