include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--grow({palette: 'fluid', name: 'modal-gabriela-03-B-en'})
    p How will the oceans be in the future, considering that we are calculating that the amount of plastic trash that will end up in the ocean in 2040, will be approximately 30 million tons?
    p It’s becoming urgent to create awareness to face this global crisis and to take concrete actions to change our habits and our relationship with nature. Between these actions we must eliminate the use of unnecessary plastics and substitute them with other materials which are more degradable and friendlier with the environment. We must motivate our waste management further towards recycling and, above all, we must change the ways we understand and relate with nature.
    img.u-width-100(src="img/plastics-dataset.jpg")