mixin templates_main(scripts, block)
    //-"block" siempre como último argumento
    doctype html
    html(lang="en" class=scripts.includes("aframe") ? 'aframe' : '')
        head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            link(rel="stylesheet" href="css/styles.css")
            - if(scripts.includes("aframe"))
                script(src="https://aframe.io/releases/1.3.0/aframe.min.js")
            title Invasion Ecologies
        body
            - if(block)
                block
            - if(scripts.includes("aframe"))
                script(src="js/wanderers.js")
            script(type="text/javascript" src="js/scripts.js")