include ../_templates
include ../_partials
include ../_content

+partials_modal({palette: 'fluid'})
    a.js-close-modal [X Cerrar]
    article.content
        h1 Serie 1D
        p Contenido 1D (animación Processing)
        ul
            li
                a.js-load-content(href="ana-01.html") Contenido A1 (primero en la secuencia)
