include ../_templates
include ../_partials
include ../_content

+partials_modal({palette: 'fluid'})
    a.js-close-modal [X Cerrar]
    article.content
        h1 Serie 01 A
        p Serie 01 A - Texto-problemática
        ul
            li
                a.js-load-content(href="gabriela-01.html") Volver a nodo principal (serie 01)