include ../_templates
include ../_partials
include ../_content

+partials_modal({palette: 'fluid'})
    a.js-close-modal [X Cerrar]
    article.content
        h1 Serie 05
        p Serie 05 - Nodo principal
        ul
            li
                a.js-load-content(href="gabriela-05-A.html") Contenido 05-A (Texto-problemática)
            li
                a.js-load-content(href="gabriela-05-B.html") Contenido 05-B (Fotos objetos)
            li
                a.js-load-content(href="gabriela-05-C.html") Contenido 05-C (Fotogrametría objetos)