include ../_templates
include ../_partials
include ../_content

+partials_modal({palette: 'fluid'})
    a.js-close-modal [X Cerrar]
    article.content
        h1 Serie 04
        p Serie 04 - Nodo principal
        ul
            li
                a.js-load-content(href="gabriela-04-A.html") Contenido 04-A (Texto-problemática)
            li
                a.js-load-content(href="gabriela-04-B.html") Contenido 04-B (Animación en p5)
            li
                a.js-load-content(href="gabriela-04-C.html") Contenido 04-C (Sonido)