include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--first-text({palette: 'fluid', name: 'presentacion-03-en'})
    p Because waters move and transport at the same time.
    p Sometimes they spontaneously transport things: remnants of shipwrecks, logs, shapeless plastic formations –characteristic of the Anthropocene Era–, fossil remains, minerals, etc. But sometimes, these transits unveil more complex relationships, intricate geopolitical, social and economic networks.
    p When Braudel was writing about the Mediterranean, he suggested going beyond the delimitation standards of traditional geography. The Mediterranean no longer defined by geographical coordinates but by these expansions and transits where the limits of the waters merge. Thus, the Mediterranean politically involves the Atlantic (and this is an inevitable interpretation from our #[+partials_first-text-internal-link("presentacion-04-en", "Global South")] perspective).
    a.js-load-content(data-modal-name="presentacion-04-en" href="contents/presentacion-04-en.html") [ Continue ]

