include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--first-text({palette: 'fluid', name: 'presentacion-09-en'})
    p The #[+partials_first-text-internal-link("presentacion-10-en", "rhetoric of “invasion”")] reveals multiple facets. 
    p The history of humankind has witnessed countless violent invasions (of one people over another people, of one race over another race, of one political regime being expelled by another regime, etc.). Here is a level that concerns factual history and that it is easily periodized.
    p But there is another level, much more surreptitious, in which the veils denote biased views on the territory and completely asymmetrical power relations. This level certainly reveals the discomfort of those who feel their dominion and territorial power are threatened. It is the dimension of how the presence of the Other is enunciated.
    a.js-load-content(data-modal-name="presentacion-11-en" href="contents/presentacion-11-en.html") [ Continue ]
