include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--first-text({palette: 'fluid', name: 'presentacion-06-en'})
    p The rhetoric from which environmental conservation is approached often uses the language of modernity – the very rhetoric that constructs the imaginary of coloniality in which the Mediterranean serves as the epicenter. 
    p The Ecology of Invasion is central for symbolic overhaul. According to Elleke Boehmer, “decolonization demanded –and still demands– symbolic overhaul, a reshaping of dominant meanings”.
    p The Mediterranean gives shape to a symbolic matrix in which, under the rhetoric of invasion, extractivist, protectionist, racist, Eurocentric and expulsive interests are embedded. 
    p Thus, what often occurs is that #[+partials_first-text-internal-link("presentacion-04-en", "from a Western perspective, the Global South and its inhabitants (human and non-human) are perceived as the invading Other")].
    a.js-load-content(data-modal-name="presentacion-05-en" href="contents/presentacion-05-en.html") [ Back ]
