include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--first-text({palette: 'fluid', name: 'presentacion-07-en'})
    p The Argentine parrot or monk parrot, Myiopsitta monachus, is a species native to South America. It was introduced in Europe several decades ago, mainly as a domestic pet. 
    p These parrots are reportedly very boisterous, and this often annoyed their owners, who finally decided to release them. Eventually these parrots became a #[+partials_first-text-external-link("“plague”", "https://english.elpais.com/elpais/2015/11/11/inenglish/1447256002_327689.html")].
    p It did not take long to go from their forced displacement to the perception of this Other as an invader. Nor was there much distance between this Other perceived as an invader and its planned extermination. #[+partials_first-text-internal-link("presentacion-08-en", "There is, in any case, a “parrot-world” that unveils complex networks.")]
    a.js-load-content(data-modal-name="presentacion-09-en" href="contents/presentacion-09-en.html") [ Continue ]
