include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--first-text({palette: 'fluid', name: 'presentacion-02-en'})
    p “These flows and ebbs are the essence of a past under the double sign of movement – there is what the Mediterranean gives, and then what it receives; the exchanged ‘gifts’ can be calamities as well as favors.” (Braudel, Fernand. #[i Memorias del Mediterráneo]. Madrid: Cátedra, 1997)
    a.js-load-content(data-modal-name="presentacion-01-en" href="contents/presentacion-01-en.html") [ Back ]
