include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--first-text({palette: 'fluid', name: 'presentacion-08-en'})
    p “There is a rhizome ‘logic’ to these entanglements, a ‘logic’ that is impossible to follow in any simple way, and very difficult to map and measure, if at all; it reveals an altogether different way of being and becoming in territory and place. These experiences constitute relational worlds or ontologies. To put it abstractly, a #[+partials_first-text-internal-link("presentacion-03-en", "relational ontology")] of this sort can be defined as one in which nothing preexists the relations that constitute it. Said otherwise, things and beings are their relations, they do not exist prior to them.” (Escobar, Arturo. “Thinking-feeling with the Earth: Territorial Struggles and the Ontological Dimension of the Epistemologies of the South”. Madrid: Antropólogos Iberoamericanos en Red. #[i Revista de Antropología Iberoamericana], Vol. 11, Issue 1, January - April 2016, Pages 11 – 32)
    a.js-load-content(data-modal-name="presentacion-07-en" href="contents/presentacion-07-en.html") [ Back ]
