include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--first-text({palette: 'fluid', name: 'presentacion-01-en'})
    p We can think of specific seas, with particular denominations. The Mediterranean, for example. But we could also think of a great, liquid, salty mass, of diverse chromaticity –product of different sedimentations–, flowing in different directions according to geographic features, all of them merging into one another. Blending together. 
    p This liquid mass would be the sum of every sea, a binding mass that connects distant lands. #[+partials_first-text-internal-link("presentacion-02-en", "It brings them closer and sets them apart")]. Cultures, peoples, and languages all communicate with each other, sometimes harmoniously, sometimes contentiously. But one thing is certain: the molecule of Atlantic water touching my foot at the 42nd parallel may eventually touch the submerged face of my friends diving off the Catalan coast in the waters of the Mediterranean. Or it may even touch the bodies of some loved ones swimming the Atlantic waters at the 33rd parallel.
    a.js-load-content(data-modal-name="presentacion-03-en" href="contents/presentacion-03-en.html") [ Continue ]
