include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--first-text({palette: 'fluid', name: 'presentacion-05-en'})
    p Considering the #[+partials_first-text-internal-link("presentacion-04-en", "Epistemologies of the South")] discussed by Boaventura de Sousa Santos, perhaps it is worthwhile to think of the Mediterranean as a trigger for conquests to and across the Atlantic Ocean. Maybe the Mediterranean is but an opportunity to think about dismantling certain mechanisms and rhetoric of coloniality which are still very much present today.
    p In this frame of thought, the rhetoric of “invasion” gains meaning. How can we think about the movement of species (human and non-human) by questioning the idea of invasion?
    p There is some very powerful #[+partials_first-text-internal-link("presentacion-06-en", "rhetoric")] that shapes symbolic spaces – and that needs to be dismantled.
    a.js-load-content(data-modal-name="presentacion-07-en" href="contents/presentacion-07-en.html") [ Continue ]
