include ../../_templates
include ../../_partials
include ../../_content

+partials_modal({palette: 'fluid', name: 'presentacion-01'})
    .l-flex.u-min-height-100
        article.content.u-text-align-center
            p Podemos pensar en mares específicos, con denominaciones particulares. El Mediterráneo, por ejemplo. Pero también podríamos pensar en una gran masa líquida, salada, de cromaticidades diversas -producto de diferentes sedimentaciones-, con correntadas diferenciales según las particularidades geográficas, todas ellas fusionándose unas con otras. Mezclándose. 
            p Esta masa líquida sería la suma de todos los mares, una masa aglutinante que pone en relación tierras distantes. #[+partials_first-text-internal-link("presentacion-02", "Las acerca y las distancia")]. Culturas, pueblos, lenguas se comunican a veces armónicamente, a veces contenciosamente. Pero hay algo cierto: esta molécula de agua del Atlántico que toca mi pie en el paralelo 42, tal vez llegue a tocar el rostro sumergido en las aguas del Mediterráneo de mis amigos submarinistas de la costa catalana. O incluso, puede ser que llegue a tocar el cuerpo de gente querida en las aguas atlánticas del paralelo 33.
            a.js-load-content(data-modal-name="presentacion-03" href="contents/presentacion-03.html") [ Continuar ]