include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--first-text({palette: 'fluid', name: 'presentacion-02'})
    p “Estos flujos y reflujos son lo esencial de un pasado bajo el doble signo del movimiento: está lo que el Mediterráneo da, y está lo que recibe; los «regalos» intercambiados pueden ser tanto calamidades como favores” (Braudel, Fernand. #[i Memorias del Mediterráneo]. Madrid: Cátedra, 1997)
    a.js-load-content(data-modal-name="presentacion-01" href="contents/presentacion-01.html") [ Volver ]