include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--first-text({palette: 'fluid', name: 'presentacion-12'})
    p O mas bien, una manera de habitar que metamorfosea el agenciamiento del ser y del espacio en el tiempo. Hay acontecimiento. El territorio no es entonces una cuestion espacial, sino una cuestión que se juega en el régimen de intensidades de la temporalidad, es decir en el ritmo. Retomando los términos de von Uexkull, es un espacio vivido, pero sobre todo intensamente vivido, es decir atravesado por intensidades diferentes." (Despret, Vinciane. #[i Vivir como un pájaro])
    a.js-load-content(data-modal-name="presentacion-01" href="contents/presentacion-01.html") [ Volver al principio ]
    br
    a.js-close-modal(data-modal-name="presentacion-12") [ Salir ]