include ../../_templates
include ../../_partials
include ../../_content

+partials_modal({palette: 'fluid', name: 'presentacion-09'})
    .l-flex.u-min-height-100
        article.content.u-text-align-center
            p “Or, rather, a way of living which metamorphoses the assemblage of the bird and the space within time. Something has happened. Territory is therefore not a spatial issue but rather something which is played out according to a system of intensities and temporality – that is to say, according to a rhythm. It is, to return to von Uexküll, a lived space, but more particularly one which is lived in an intense way – in other words, one permeated by different intensities”. (Despret, Vinciane. Vivir como un pájaro)
            a.js-load-content(data-modal-name="presentacion-01" href="contents/presentacion-01.html") [ Continuar ]