include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--first-text({palette: 'fluid', name: 'presentacion-03'})
    p Porque las aguas se desplazan al tiempo que transportan. 
    p A veces transportan espontáneamente cosas: remanentes de naufragios, troncos, formaciones plásticas informes -propias de la era del Antropoceno-, restos fósiles, minerales, etc., etc. Pero a veces, los tránsitos develan relaciones más complejas, intrincadas tramas geopolíticas, sociales, económicas.
    p Cuando Braudel escribía acerca del Mediterráneo, proponía superar los estándares de delimitación de la geografía tradicional. El Mediterráneo no ya definido por coordenadas geográficas sino por estas expansiones y tránsitos donde los límites de las aguas se mezclan. Así, el Mediterráneo involucra políticamente al Atlántico (y esta es una lectura inevitable desde nuestra perspectiva #[+partials_first-text-internal-link("presentacion-04", "Sur Global")]).

    a.js-load-content(data-modal-name="presentacion-04" href="contents/presentacion-04.html") [ Continuar ]