include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--first-text({palette: 'fluid', name: 'presentacion-05'})
    p Volviendo a estas #[+partials_first-text-internal-link("presentacion-04", "Epistemologías del Sur")] de las que nos habla Boaventura de Sousa Santos, tal vez importe pensar al Mediterráneo como disparador de conquistas hacia y a través del océano Atlántico. Quizás el Mediterráneo no nos sirva más que para pensar en desmantelar ciertos mecanismos y retóricas de la colonialidad aún muy presentes en nuestros días.
    p En este contexto de pensamiento, la retórica de la “invasión” cobra sentido. ¿Cómo pensar el movimiento de especies (no-humanas y humanas) poniendo en tela de juicio la cuestión de la invasión?
    p Hay una #[+partials_first-text-internal-link("presentacion-06", "retórica")] muy poderosa que configura espacios simbólicos -y que es preciso desarmar.
    a.js-load-content(data-modal-name="presentacion-07" href="contents/presentacion-07.html") [ Continuar ]