include ../../_templates
include ../../_partials
include ../../_content

+partials_modal({palette: 'fluid', name: 'presentacion-06'})
    .l-flex.u-min-height-100
        article.content.u-text-align-center
            p La retórica a partir de la cual se aborda la cuestión de la conservación medioambiental muchas veces utiliza el lenguaje de la modernidad -esa misma retórica que construye el imaginario de la colonialidad en el cual el Mediterráneo funciona como epicentro. 
            p La Ecología de la Invasión es un lugar central para la revisión simbólica. Según Elleke Boehmer, «la decolonización ha demandado -y aún demanda- una revisión simbólica, un reformateo de los significados dominantes”. 
            p El Mediterráneo da forma a una matriz simbólica a través de la cual, bajo la retórica de la invasión, anidan intereses extractivistas, proteccionistas, racistas, eurocéntricos y expulsivos. 
            p Así, lo que sucede muy frecuentemente es que #[+partials_first-text-internal-link("presentacion-04", "desde una perspectiva occidental, el Sur Global y sus habitantes (humanos y no-humanos) son percibidos como el Otro invasorx.")].
            a.js-load-content(data-modal-name="presentacion-05" href="contents/presentacion-05.html") [ Volver ]