include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--first-text({palette: 'fluid', name: 'presentacion-11'})
    p La Myiopsitta monachus es una especie con grandes capacidades ingenieriles. Su nido es una suerte de complejo entramado de habitáculos en propiedad horizontals. Una estructura de forma globular que concatena diversos túneles. Tiene además una lógica aditiva: a un nido puede adosársele uno nuevo. 
    p Es la única especie de loro que construye su nido juntando y amalgamando pequeñas ramas.
    p A pesar de la mala prensa que la cotorra argentina ha tenido a raíz de su rápida diseminación por Europa, se cree que ciertas cualidades positivas no le son ajenas a nuestra simpática ave.  En Chile se ha observado “el uso de nidos de cotorras por parte de nueve especies residentes en 22 ocasiones en Santiago. De ellas, sólo la paloma bravía (9,1%) y el gorrión común (27,3%) eran no-nativas, mientras que el resto eran todas nativas. Así, el cernícalo americano (27,3%), el mirlo austral (9,1%), el reyezuelo común (9,1%), el halcón aplomado (4,5%), la lechuza austral (4,5%), el zorzal austral (4,5%) y la tórtola común (4,5%) son especies nativas que utilizan el recurso de una especie invasora durante su ciclo reproductivo” #[+partials_first-text-external-link("[Briceño, C.; Sandoval-Rodríguez, A.; Yévenes, K.; Larraechea, M.; Morgado, A.; Chappuzeau, C.; Muñoz, V.; Dufflocq, P.; Olivares, F. “Interactions between Invasive Monk Parakeets (Myiopsitta monachus) and Other Bird Species during Nesting Seasons in Santiago, Chile”. Animals 2019, 9, 923].", "https://www.mdpi.com/2076-2615/9/11/923/htm")] 

    a.js-load-content(data-modal-name="presentacion-12" href="contents/presentacion-12.html") [ Continuar ]