include ../../_templates
include ../../_partials
include ../../_content

- let name = 'modal-gabriela-02-A';

+partials_modal--grow({palette: 'fluid', name: name})
    - let tituloTemporal = name.split('-').join(' ');
    h1=tituloTemporal