include ../../_templates
include ../../_partials
include ../../_content

//- TEST 3D

- let name = 'modal-gabriela-05-A';

+partials_modal--grow({palette: 'fluid', name: name})
    - let tituloTemporal = name.split('-').join(' ');
    h1=tituloTemporal
    //- div#js-three-viewport.u-width-100