include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--grow({palette: 'fluid', name: 'modal-gabriela-04-A'})
    h1 Colonizando la Plastisfera: nuevas invasiones
    +partials_auto-height-video-player('video/barnacle-3D.mp4')
    p Hay muchas formas de trasladar especies de un entorno costero a otro. El transporte de especies marinas invasoras de un nicho ecológico a otro puede causar daños colosales en ecosistemas, a veces acabando con especies enteras o transformando comunidades enteras.
    p Históricamente, las especies se introducían en nuevos entornos principalmente a través de formas naturales de desechos flotantes como la madera, las alfombras de algas, entre otros. A lo largo de nuestra historia, nosotros humanos trasladamos especies de un continente a otro por fines productivos. Hoy en día, los desechos plásticos son recipientes casi perfectos para trasladar todo tipo de especies debido a su flotabilidad y resistencia a la degradación. 
    p La Plastisfera se refiere a estos nuevos ecosistemas micro y macroscópicos que han evolucionado y conquistado estos entornos hechos de plásticos producidos por humanos. Estos residuos plásticos funcionan como “barcos” más duraderos que otros residuos y pueden trasladar y propagar organismos por distancias más largas. 
    p Bacterias, algas, cangrejos, virus, larvas de peces, moluscos, antrópodos y bivalvos se están introduciendo en nuevos hábitats de todo el mundo. Estas distintas especies acuáticas al llegar a otros territorios pueden convertirse en “especies invasoras” suponiendo una amenaza para muchas especies que tienen un efecto directo sobre los ecosistemas y el ser humano. 
    img.u-width-100(src="img/plastisfera-1.jpg")
    img.u-width-100(src="img/plastisfera-2.jpg")
    img.u-width-100(src="img/plastisfera-3.jpg")
    img.u-width-100(src="img/plastisfera-4.jpg")