include ../../_templates
include ../../_partials
include ../../_content

+partials_modal({palette: 'fluid', name: 'modal-gabriela-04-B'})
    a.js-close-modal(data-modal-name='modal-gabriela-04-B') [X Cerrar]
    article.content
        h1 Serie 04 B
        p Serie 04 B - Animación en p5
        ul
            li
                a.js-load-content(data-modal-name="modal-gabriela-04" href="contents/gabriela-04.html") Volver a nodo principal (serie 04)