include ../../_templates
include ../../_partials
include ../../_content

+partials_modal({palette: 'fluid', name: 'modal-gabriela-02-C'})
    a.js-close-modal(data-modal-name='modal-gabriela-02-C') [X Cerrar]
    article.content
        h1 Serie 02 C
        p Serie 02 C - Mapas
        ul
            li
                a.js-load-content(data-modal-name="modal-gabriela-02" href="contents/gabriela-02.html") Volver a nodo principal (serie 02)