include ../../_templates
include ../../_partials
include ../../_content

+partials_modal({palette: 'fluid', name: 'modal-gabriela-03-B'})
    a.js-close-modal(data-modal-name='modal-gabriela-03-B') [X Cerrar]
    article.content
        h1 Serie 03 B
        p Serie 03 B - Dataset de imágenes - Muestrario
        ul
            li
                a.js-load-content(data-modal-name="modal-gabriela-03" href="contents/gabriela-03.html") Volver a nodo principal (serie 03)