include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--grow({palette: 'fluid', name: 'modal-gabriela-05-B'})
    +partials_auto-height-video-player('video/sea-wallnut-3D.mp4')
    h2 1- #[i Mnemiopsis leidyi]
    p La “nuez de mar” o ctenóforo americano​ (Mnemiopsis leidyi), es una especie de ctenóforo tentaculado que procede de las aguas costeras del Atlántico occidental, como las de América del Norte y del Sur, pero debido a los viajes en el agua de lastre, la introducción intencionada y el movimiento natural del océano, han invadido nuevas regiones europeas y de Asia occidental.
    p Estas hermosas especies son bioluminiscentes y cuando la luz incide en sus cilios se refracta, y parecen brillar de muchos colores diferentes. A diferencia de las medusas, no tienen células urticantes en sus tentáculos. Sin embargo, sus tentáculos sí tienen células coloblásticas, lo que significa que si atrapan a su presa, ésta no puede escapar y queda pegada al tentáculo.
    p Se han convertido en un problema en las zonas debido a la velocidad a la que son capaces de reproducirse. 
    p En 1980 se introdujo esta especie al mar Caspio y el mar Negro. Se cree que fue introducida por medio del agua de lastre de los barcos mercantes. Actualmente se ha dispersado y se encuentran ya en el Mar Mediterraneo siendo una gran amenaza para la fauna marina local. 

    +partials_auto-height-video-player('video/caracoles-3D.mp4')
    h2 2- #[i Rapana venosa]
    p La rapana venosa es un gran caracol marino con una hermosa concha. Originario del noroeste del Pacífico asiático, desde Vladivostok (Rusia) hasta Hong Kong. Este gasterópodo pertenece a la familia Muricidae y se reconoce por ser un exitoso organismo invasor. 
    p En 1946 se descubrió en el Mar Negro y posteriormente se extendió al Mar Mediterráneo. En 1998 se encontró en la bahía de Chesapeake, donde probablemente fue transportado por el agua de lastre de los barcos. También está establecida en las aguas costeras europeas, desde Noruega hasta España, y en el estuario del Río de la Plata, en Sudamérica. 
    p La elevada capacidad de invasión de este caracol, sumada a sus hábitos tróficos (preda sobre cualquier bivalvo) lo tornan una grave amenaza potencial de los recursos malacológicos (moluscos) de las aguas marinas de gran parte del mundo. Ha causado serios daños ecológicos, pero también el colapso de pesquerías de ostras, mejillones y almejas, con las consecuencias socio-económicas que esto conlleva.

    +partials_auto-height-video-player('video/sealion-3D.mp4')
    h2 3- #[i Pterois miles]
    p El pez león soldado, pez fuego diablo o pez escorpión (Pterois miles) es una especie de pez con aletas radiadas de la familia Scorpaenidae. Es nativo de la región occidental del Indo-Pacífico. 
    p Alcanza hasta 35 cm de longitud. Es conocido por sus diversas aletas dorsales que se extienden a lo largo de su cuerpo, las cuales son altamente venenosas. Su aleta dorsal se asemeja a un penacho con plumas rayadas.  El pez león es un carnívoro generalista y puede alimentarse de una gran variedad de peces y crustáceos,
    p Es originario del océano Índico, habitando desde Sudáfrica hasta el Mar Rojo y el Golfo Pérsico, y hacia el este hasta Sumatra. 
    p Una década después de la liberación intencionada o accidental en acuarios de Florida, P. volitans se estableció plenamente en todo el sureste de Estados Unidos y el Mar Caribe, extendiéndose a Sudamérica y gran parte del Golfo de México. En el Atlántico occidental, el pez león es más abundante que en su región nativa y se ha convertido en el depredador dominante en los arrecifes de coral, con un gran impacto en los peces de arrecife nativos. 
    p En el mar Mediterráneo, el pez león solo se registraba ocasionalmente en la parte oriental, sin embargo estudios muestran que esta especie está en aumento, convirtiéndose en una amenaza para las especies marinas del Mediterráneo. 


