include ../../_templates
include ../../_partials
include ../../_content

+partials_modal({palette: 'fluid'})
    a.js-close-modal [X Cerrar]
    article.content
        h1 Serie 04 B
        p Serie 04 B - Animación en p5
        ul
            li
                a.js-load-content(href="gabriela-04.html") Volver a nodo principal (serie 04)