include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--fixed({palette: 'fluid', name: 'modal-gabriela-01-A'})
    .p5-container.u-height-100.u-width-100
    style.
        .p5-container > canvas {
            width: 100% !important;
            height: 100% !important;
            object-fit: contain;
        }