include ../../_templates
include ../../_partials
include ../../_content

+partials_modal({palette: 'fluid', modalName: 'gabi1'})
    a.js-close-modal [X Cerrar]
    article.content
        h1 Serie 01
        p Serie 01 - Nodo principal
        ul
            li
                a.js-load-content(href="gabriela-01-A.html") Contenido 01-A (Texto-problemática)
            li
                a.js-load-content(href="gabriela-01-B.html") Contenido 01-B (Galería de imágenes)
            li
                a.js-load-content(href="gabriela-01-C.html") Contenido 01-C (Sonido)