include ../../_templates
include ../../_partials
include ../../_content

+partials_modal({palette: 'fluid'})
    a.js-close-modal [X Cerrar]
    article.content
        h1 Serie 02
        p Serie 02 - Nodo principal
        ul
            li
                a.js-load-content(href="gabriela-02-A.html") Contenido 02-A (Texto-problemática)
            li
                a.js-load-content(href="gabriela-02-B.html") Contenido 02-B (Galería de imágenes)
            li
                a.js-load-content(href="gabriela-02-C.html") Contenido 02-C (Sonido)
            li
                a.js-load-content(href="gabriela-02-D.html") Contenido 02-D (Sonido)