include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--grow({palette: 'fluid', name: 'modal-gabriela-05-A'})
    img.u-max-height-100.u-max-width-100.u-width-auto.u-display-block.u-margin-auto(src="img/cotorragif1.gif")
    p “La retórica de “invasión” devela multiplicidad de aristas que nos llaman a una profunda revisión simbólica. Del desplazamiento forzado a la percepción de este “otro” como invasor no median muchos pasos. Tampoco hay mucha distancia entre este “otro” percibido como invasor y su exterminio programado.”
    p La ilusión de “fronteras” fijas en los procesos de introducción deliberada o accidental de especies extranjeras, vegetales y animales, frente a los imprevisibles cambios climáticos de nuestro tiempo, nos obligan a revisar nuevas dimensiones e impactos no solo ambientales, sino también económicos, políticos y culturales en las complejas interacciones de las ecologías y las sociedades tanto humanas como no humanas.
    a.js-load-content(data-modal-name="modal-gabriela-05-B" data-scripts="/js/scripts/video-player.js" href="contents/gabriela-05-B.html") [ Continuar ]
