include ../../_templates
include ../../_partials
include ../../_content

+partials_modal({palette: 'fluid', name: 'modal-gabriela-01-C'})
    a.js-close-modal(data-modal-name='modal-gabriela-01-C') [X Cerrar]
    article.content
        h1 Serie 01 C
        p Serie 01 C - Sonido
        ul
            li
                a.js-load-content(data-modal-name="modal-gabriela-01" href="contents/gabriela-01.html") Volver a nodo principal (serie 01)