include ../../_templates
include ../../_partials
include ../../_content

+partials_modal({palette: 'fluid', name: 'modal-gabriela-04'})
    a.js-close-modal(data-modal-name="modal-gabriela-04") [X Cerrar]
    article.content
        h1 Serie 05
        p Serie 05 - Nodo principal
        ul
            li
                a.js-load-content(data-modal-name="modal-gabriela-05-A" href="contents/gabriela-05-A.html") Contenido 05-A (Texto-problemática)
            li
                a.js-load-content(data-modal-name="modal-gabriela-05-B" href="contents/gabriela-05-B.html") Contenido 05-B (Fotos objetos)
            li
                a.js-load-content(data-modal-name="modal-gabriela-05-C" href="contents/gabriela-05-C.html") Contenido 05-C (Fotogrametría objetos)
        div#js-three-viewport.u-width-100