//- include ../../_templates
//- include ../../_partials
//- include ../../_content

//- //- En contenidos: Contenido B

//- +partials_modal--grow({palette: 'fluid', name: 'modal-ana-05'})
//-     h1 Sobre los territorios monstruosos
//-     +partials_left-floated-image("img/ana_alga.png")
//-     p [Podcast: Maia Gattás Vargas]
//-     //- include ../../../assets/ave.svg


include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--fixed-center({palette: 'fluid', name: 'modal-ana-05'})
    +partials_podcast-player({
        audioUrl: "audio/podcast-maia.mp3",
        videoUrl: "video/video5comprimido.mp4",
    })
        h1 Sobre los territorios monstruosos (podcast)
        h2 Por #[a(href="https://cargocollective.com/maiagattasvargas" target="_blank") Maia Gattás Vargas]
        +partials_expandable-box('desplegable-ana-05')
            i
                p Artista visual, investigadora y docente. Línea de formación en Arte Contemporáneo Latinoamericano de la Universidad Nacional de La Plata, y Licenciada en Ciencias de la Comunicación por la Universidad de Buenos Aires. Trabaja como becaria posdoctoral CONICET en el instituto CITECDE, Bariloche investigando sobre la construcción del paisaje de la región patagónica argentino-chilena. En 2022 editó su libro #[span.u-font-style-normal Diario de exploración al territorio del color] junto a la editorial Biblioteca Popular Astra y está finalizando su primer largometraje documental #[span.u-font-style-normal Viento del este] con un subsidio del INCAA.