include ../../_templates
include ../../_partials
include ../../_content

//- En contenidos: Contenido A

+partials_modal--grow({palette: 'fluid', name: 'modal-ana-02-en'})
    h1 What Does Otherness Become If Not a Monster to Be Battled?
    +partials_left-floated-image("img/ana_ave.png")
    p Maps of the Middle Ages and the Renaissance were covered with illustrations of mythical creatures and monstrous beasts that depicted dangers and threats to humankind in certain latitudes. These representations warned navigators and explorers of potential dangers in unexplored oceans and lands, and consisted of animal-like hybrid species made of parts of animals and plants, both imaginary and from scientific textbooks. Oftentimes they included references, both visual and exemplary, to the Biblical Bestiary from the Christian bible. They were shown as Eurocentric symbols of areas that were dark, enigmatic and unknown to science, as well as of areas yet to be colonized, with harmful and ferocious monsters to be destroyed. The aim was to safeguard the navigator carrying knowledge and civilization. The monsters on these maps were purely political: they were visualizations of otherness, imageries of the foreign, expressions of the barbarian and symbols of the irrational. The visual aesthetics corresponded to the fragmented and denied appreciation of the Other, and it was an excuse to wage war against aberrant chimerical beings that spawned Dionysian violence.
    p Beasts are subalterns: problematized subjects who do not fit into the hegemonic discourse, and whose mere representation turns them into voiceless invaders who need to be controlled. The contemporary monsters in this project are nothing but resignifications of those old monsters whose connotations are dragged along and impregnated with new ones as a result of current paradigms. They are the imagery from which the otherness of thirdworld geographies is conceived and narrated, from a colonial point of view. They are silent and undervalued subjects. According to Spivak, subalterns are not subjects with a discursive position from which they can speak or respond. (Can the Subaltern Speak?, 2003) They are objectified subjects who should be feared because of their difference. They are invasive objects.
