include ../../_templates
include ../../_partials
include ../../_content

+partials_modal--fixed-center({palette: 'fluid', name: 'modal-ana-05-en'})
    +partials_podcast-player({
        audioUrl: "audio/maia_ingles_editado.mp3",
        videoUrl: "video/video5comprimido.mp4",
    })
        h1 About the monstrous territories (podcast)
        h2 By #[a(href="https://cargocollective.com/maiagattasvargas" target="_blank") Maia Gattás Vargas]
        +partials_expandable-box('desplegable-ana-05')
            i
                p Maia Gattás Vargas is a visual artist, researcher and educator. She holds a PhD in Art in the field of Contemporary Latin American Art from the National University of La Plata, as well as a BA in Communication Studies from the University of Buenos Aires. She is a CONICET postdoctoral fellow at the CITECDE Institute in Bariloche, where she conducts research on the construction of landscapes in the Argentine-Chilean Patagonia. In 2022, her book Diario de exploración al territorio del color (Diary of exploration into the territory of color) was published in collaboration with the Biblioteca Popular Astra editorial. She is currently finishing her first feature documentary film, Viento del este (East wind), with a grant from the National Institute of Cinema and Audiovisual Arts (INCAA).